@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 22vw;
  height: 62vh;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  position: relative;
  display: block;
  margin: 20px 10px;
  left: 50%;
  transform: translate(-50%);
}

.preview {
  width: 6vw;
  height: 8vw;
  background-color: red;
  background-image: url(https://i.pinimg.com/originals/7f/89/c1/7f89c1ae58a1fb6a01e026367807a87b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  visibility: visible;
}
.preview2 {
  width: 6vw;
  height: 8vw;
  background-color: red;
  background-image: url(https://i.pinimg.com/originals/7f/89/c1/7f89c1ae58a1fb6a01e026367807a87b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  visibility: visible;
}
.preview3 {
  width: 6vw;
  height: 8vw;
  background-color: red;
  background-image: url(https://i.pinimg.com/originals/7f/89/c1/7f89c1ae58a1fb6a01e026367807a87b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  visibility: visible;
}
.preview4 {
  width: 6vw;
  height: 8vw;
  background-color: red;
  background-image: url(https://i.pinimg.com/originals/7f/89/c1/7f89c1ae58a1fb6a01e026367807a87b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  visibility: visible;
}
.preview5 {
  width: 6vw;
  height: 8vw;
  background-color: red;
  background-image: url(https://i.pinimg.com/originals/7f/89/c1/7f89c1ae58a1fb6a01e026367807a87b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  visibility: visible;
}

body {
  background-image: url(https://www.pokerscout.com/wp-content/uploads/2020/04/weekend-poker-schedule-april-3-5.jpg);
  background-size: 250vh;
  background-repeat: no-repeat;
}

.button {
  background-image: url("https://cdn4.iconfinder.com/data/icons/poker-cards/512/card_jokerheart-512.png");

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  width: 6vw;
  height: 8vw;
  position: absolute;
  left: 90%;
}

footer {
  display: flex;
  padding-top: 25px;
  padding-left: 2rem;
  align-items: center;
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding-right: 2rem;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2rem;
  width: 100%;
  list-style: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 25vw;
  height: 32vw;
  border-radius: 5%;
  background-image: url("https://images.pexels.com/photos/4253621/pexels-photo-4253621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #ff0000;
}

/* The Close Button */
.close {
  color: #ff0000;
  top: 3%;
  left: 90%;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  color: #ff0000;
}
